{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto p-4">
    <h2>{{ route.name|default:"Bezimienna droga" }}</h2>
    <!-- Add Point -->
    <form method="post" name="pointForm">
        {% csrf_token %}
        <div>
            <div>
                <label>współrzędna x</label>
                {{ form.x }}
            </div>
            <div>
                <label>współrzędna y</label>
                {{ form.y }}
            </div>
            <div>
                <button type="submit">
                    Dodaj punkt
                </button>
            </div>
        </div>
    </form>
    <!-- Image and Canvas -->
    <div style="position: relative;">
        <img src="{{ route.background.image.url }}"

             id="route-image"
             style="width: 500px;
                    height: 500px;">
        <canvas id="route-canvas"
                style="position: absolute;
                        top: 0;
                        left: 0;"
                ></canvas>
    </div>
    <!-- Punkty  -->
    <div>
        <h3>Lista punktów</h3>
        {% for point in points %}
        <div>
            <span class="font-mono">
                Pozycja {{ point.order }}: x: {{ point.x }}; y: {{ point.y }}
            </span>
            <form method="post" action="{% url 'delete_point' route.id point.id %}">
                {% csrf_token %}
                <button type="submit">
                    Usuń punkt
                </button>
            </form>
        </div>
        {% empty %}
        <p>Nie ma jeszcze punktów. Dodaj nowe, aby zobaczyć je na mapie.</p>
        {% endfor %}
    </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', () => {
    const canvas = document.getElementById('route-canvas');
    const img = document.getElementById('route-image');

    const scaleX = img.clientWidth / img.naturalWidth;
    const scaleY = img.clientHeight / img.naturalHeight;
    canvas.width = img.clientWidth;
    canvas.height = img.clientHeight;
    const ctx = canvas.getContext('2d');

    ctx.beginPath();
    {% for point in points %}
        const x{{ point.order }} = {{ point.x }} * scaleX;
        const y{{ point.order }} = {{ point.y }} * scaleY;
        {% if forloop.first %}
            ctx.moveTo(x{{ point.order }}, y{{ point.order }});
        {% else %}
            ctx.lineTo(x{{ point.order }}, y{{ point.order }});
        {% endif %}
    {% endfor %}
    ctx.strokeStyle = '#DC2626'; // red-600
    ctx.lineWidth = 3;
    ctx.stroke();

    {% for point in points %}
    ctx.beginPath();

    ctx.arc(x{{ point.order}}, y{{ point.order }}, 6, 0, 2 * Math.PI);
    ctx.fillStyle = '#2563EB'; // blue-600
    ctx.fill();

    ctx.strokeStyle = 'white';
    ctx.lineWidth = 2;
    ctx.stroke();

    ctx.fillStyle = 'white';
    ctx.fillRect(x{{ point.order }} - 12, y{{ point.order }} - 32, 24, 20);

    ctx.fillStyle = '#1f2937'; // gray-800
    ctx.font = '12px Arial';
    ctx.textAlign = 'center';
    ctx.fillText('{{ forloop.counter0 }}', x{{ point.order }}, y{{ point.order }} - 18);
    {% endfor %}

    document.getElementById('route-canvas').addEventListener("click", function(event) {
        const rect = event.target.getBoundingClientRect();
        const x = Math.round((event.clientX - rect.left) / scaleX);
        const y = Math.round((event.clientY - rect.top) / scaleY);

        document.getElementById("id_x").value = x;
        document.getElementById("id_y").value = y;
    });
});
</script>
{% endblock %}