{% extends 'base.html' %}

{% block content %}
<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="container max-w-2xl bg-white shadow-md rounded-lg p-6">
        <h1 class="text-2xl font-bold text-center text-gray-800 mb-6">{{ route.name|default:"Bezimienna droga" }}</h1>
        
        <!-- Formularz dodawania punktu -->
        <form method="post" class="space-y-4 mb-6">
            {% csrf_token %}
            <div class="grid grid-cols-2 gap-4">
                <div>
                    <label for="id_x" class="block text-sm font-medium text-gray-700">Współrzędna X</label>
                    {{ form.x }}
                </div>
                <div>
                    <label for="id_y" class="block text-sm font-medium text-gray-700">Współrzędna Y</label>
                    {{ form.y }}
                </div>
            </div>
            <button type="submit" class="w-full bg-emerald-500 hover:bg-emerald-600 text-white font-semibold py-2 px-4 rounded-lg">
                Dodaj punkt
            </button>
        </form>

        <!-- Obraz i canvas -->
        <div style="position: relative;">
            <img src="{{ route.background.image.url }}"
                 id="route-image"
                 style="width: 900px;
                        height: 446px;">
            <canvas id="route-canvas"
                    style="position: absolute;
                            top: 0;
                            left: 0;"
                    ></canvas>
        </div>

        <!-- Lista punktów -->
        <div class="space-y-4">
            <h3 class="text-lg font-bold text-gray-800 mb-4">Lista punktów</h3>
            {% for point in points %}
            <div class="flex items-center justify-between bg-gray-50 p-4 rounded-lg shadow-sm">
                <span class="font-mono text-gray-700">
                    Pozycja {{ point.order }}: x: {{ point.x }}, y: {{ point.y }}
                </span>
                <form method="post" action="{% url 'delete_point' route.id point.id %}">
                    {% csrf_token %}
                    <button type="submit" class="text-red-500 hover:text-red-700 text-sm font-medium">
                        Usuń punkt
                    </button>
                </form>
            </div>
            {% empty %}
            <p class="text-center text-gray-600">Nie ma jeszcze punktów. Dodaj nowe, aby zobaczyć je na mapie.</p>
            {% endfor %}
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const canvas = document.getElementById('route-canvas');
    const img = document.getElementById('route-image');

    const scaleX = img.clientWidth / img.naturalWidth;
    const scaleY = img.clientHeight / img.naturalHeight;
    canvas.width = img.clientWidth;
    canvas.height = img.clientHeight;
    const ctx = canvas.getContext('2d');

    ctx.beginPath();
    {% for point in points %}
        const x{{ point.order }} = {{ point.x }} * scaleX;
        const y{{ point.order }} = {{ point.y }} * scaleY;
        {% if forloop.first %}
            ctx.moveTo(x{{ point.order }}, y{{ point.order }});
        {% else %}
            ctx.lineTo(x{{ point.order }}, y{{ point.order }});
        {% endif %}
    {% endfor %}
    ctx.strokeStyle = '#DC2626'; // red-600
    ctx.lineWidth = 3;
    ctx.stroke();

    {% for point in points %}
    ctx.beginPath();

    ctx.arc(x{{ point.order }}, y{{ point.order }}, 6, 0, 2 * Math.PI);
    ctx.fillStyle = '#2563EB'; // blue-600
    ctx.fill();

    ctx.strokeStyle = 'white';
    ctx.lineWidth = 2;
    ctx.stroke();

    ctx.fillStyle = 'white';
    ctx.fillRect(x{{ point.order }} - 12, y{{ point.order }} - 32, 24, 20);

    ctx.fillStyle = '#1f2937'; // gray-800
    ctx.font = '12px Arial';
    ctx.textAlign = 'center';
    ctx.fillText('{{ forloop.counter0 }}', x{{ point.order }}, y{{ point.order }} - 18);
    {% endfor %}

    document.getElementById('route-canvas').addEventListener("click", function(event) {
        const rect = event.target.getBoundingClientRect();
        const x = Math.round((event.clientX - rect.left) / scaleX);
        const y = Math.round((event.clientY - rect.top) / scaleY);

        document.getElementById("id_x").value = x;
        document.getElementById("id_y").value = y;
    });
});
</script>
{% endblock %}