{% extends "base.html" %}

{% block content %}
{% if not user.is_authenticated %}
  <div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="container max-w-md bg-white shadow-md rounded-lg p-6">
      <h2 class="text-2xl font-bold text-center text-gray-800 mb-6">Logowanie</h2>
      <form method="POST" class="space-y-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg">
          Zaloguj
        </button>
      </form>
    </div>
  </div>
{% endif %}
{% endblock %}